*{
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding:0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:root{
--bs-link-hover-color: #505050;
--bs-link-color: #505050;
}

body{
    background-color: #fff;
    position:relative;
    max-height: 100vh;
}

/*--- NAVBAR ---*/
header{
  position: fixed;
  z-index: 1200;
}
.navbar{
    position:fixed;
    width:100%;
    padding:10px;
    margin-top:-20px;
    background-color: #fff;
    box-shadow: 1px 6px 14px 2px #69014bbf;
    -webkit-box-shadow: 1px 6px 14px 2px #af014bbf;
    -moz-box-shadow: 1px 6px 14px 2px #af014bbf;
    -ms-box-shadow: 1px 6px 14px 2px #af014bbf;
}

.logo-ap{
  max-width: 6em;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  /*color: var(--bs-list-group-color);*/
  color: #505050;
  /* text-decoration: none; */
  background-color: var(--bs-list-group-bg);
  /* border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); */
  border:none;
}

/*---LOGIN MODAL---*/
input::placeholder{
  font-style: italic;
  font-size: 1em;
}
#loginModal{
  z-index:1090;
}
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

/*---FIN NAVBAR---*/



/*--- ARMADO ---*/

/*---IMAX FONDO---*/
.encabezado{
  position:fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  --opacidad-negro: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro)))
}

/*@media screen and (max-width: 1024px) { /* Specific to this particular image
img.encabezado {
  left: 0%;
  margin-left: -512px;
}
}*/

/*---FIN IMAX FONDO---*/

/*---INTRO---*/
.caratula-intro{
height: 100vh;
background-color: transparent !important;
  border:none !important;
  border-radius:none !important;
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
}

.intro{
  text-shadow: #69014b 3px 2px 10px;
}
h1.intro{
  font-size: 3rem;
}
h3.intro{
  padding-top:30%;
}
/*---FIN INTRO---*/


/*---DESARROLLO---*/

/*---CONTENEDORES---*/
.container{
  width:70%;
  margin-top:20px;
  padding:20px;
  position:relative;
  z-index:1080;
  background-color:#fff;
  border:2px solid #69014b;
  border-radius:0px 30px 0px 30px;
  box-shadow: 1px 6px 14px 2px #69014bbf;
  -webkit-box-shadow: 1px 6px 14px 2px #af014bbf;
  -moz-box-shadow: 1px 6px 14px 2px #af014bbf;
}

.container-fluid{
  --bs-gutter-x: 1rem;
  margin-top:20px
}

/*---TEXTOS---*/
.titulo-centrado{
  text-align: center;
}

p{
  font-size:1em;
  text-align: justify;
}

p.texto-centrado{
  text-align:center !important;
}

date{
    font-size: .8em;
    text-align:left;
}

/*---SECCION ABOUT ME---*/
.bio-image-col{
  align-items:center;
}

.bio-image{
  width:90%;
  clip-path: circle(50% at 50% 50%);
}

.bio-title{
  text-align: center;
  font-size:.75em;
}

/*---PROGRESS BARS---*/
.progress{
  height: 5px;
  border-radius: 5px;
}
.progress-bar{
  background-color: #c5068f;
}

.progress-bar-frontend{
  background-color: #8b0666;
}
.progress-bar-backend{
  background-color: #6ac61a;
}
.progress-bar-design{
  background-color: #f7bf1a;
}
.progress-bar-language{
  background-color: #1a85f7;
}


span {
  display:block;
  position: relative;
  margin-top:20px;
  font-size: .85em;
  color: #888888;
  line-height: 17px;
  margin-bottom:5px;
}